<div class="container-fluid patron">
  <div class="row">
    <div class="col-12 col-md-12 holyGrail">

      <!-- header -->
      <!-- <div class="header">
        <img src="assets/logo_caffenio.png" alt="logo">
      </div> -->

      <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">
            <img src="assets/logo_caffenio.png" alt="logo">
            <!-- Proveedores -->
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']">Inicio de sesión</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/registro']">Registro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://caffenio.com/">Caffenio</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <!-- Router -->
      <div class="row holyGrail-body">
        <div class="col-12 col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>

      <!-- footer -->
      <div class="footer">
        <p>© 2018, Café del Pacífico, S.A.P.I. de C.V.</p>
        <a href="https://caffenio.com/aviso/">Aviso de Privacidad</a>
      </div>

    </div>
  </div>
</div>