.vh100 {
    height: 100vh;
    background-color: #ffffff;
    background-image: url("./../../assets/background-patterns/absurdity.png");
}

.patron {
    background-color: #ffffff;
    background-image: url("./../../assets/background-patterns/absurdity.png");
}

.holyGrail-body {
    padding-top: 50px;
    padding-bottom: 50px;
}

.header {
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header img {
    max-height: 100%;
}

.footer {
    display: flex;
    font-size: 0.9em;
    justify-content: space-between;
    padding: 10px;
}

.footer p {
    color: #777;
    margin-bottom: 0px;
}

.footer a {
    color: #777;
}

/** Navbar */

.navbar {
    width: 100%;
    height: 60px;
}

.navbar-brand {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0px;
}

.navbar-brand img {
    height: 100%;
    width: auto;
    margin-right: 10px;
}

@media (max-width: 768px) {

    .footer {
        flex-direction: column;
    }

}