
.logo {
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 25px;
}

/** Form */

.p-social {
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: center;
    font-size: 0.8em;
    color: #ccc;
}

.hr-social {
    margin-top: 0;
}

.help-links {
    justify-content: space-between;
    display: flex;
    font-size: 0.9em;
}

.input-group {
    margin-bottom: 0px !important;
}

.btn-submit {
    width: 100%;
    background-color: #e83c00;
    border-color: #e83c00;
}

.password-help {
    font-size: 0.8em;
    text-align: right;
}

a {
    color: #e83c00;
}

.input-group-prepend {
    display: flex;
}

.input-group-prepend .input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
}