<div class="row justify-content-md-center align-items-center fullheight-row">
  <div class="col col-md-3">
      
    <!-- Logo culero -->
    <img src="assets/logo_caffenio_vertical.png" alt="logo" class="logo">
    <!-- Forma Login -->
    <ng-container *ngIf="formaMostrar === 1">
      <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
  
        <div class="form-row">
          <div class="form-group col-md-12">
            <label class="sr-only" for="">Correo electrónico</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user-circle"></i></div>
              </div>
              <input formControlName="email" type="text" class="form-control" placeholder="Correo electrónico">
              <br>
            </div>
            <span class="form-alert" *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">
              * {{ loginForm.get('email').errors | formaError: 'email' }}
            </span>
          </div>
        </div>
  
        <div class="form-row">
          <div class="form-group col-md-12">
            <label class="sr-only" for="">Contraseña</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-key"></i></div>
              </div>
              <input formControlName="password" type="password" class="form-control" placeholder="Contraseña">
            </div>
            <span class="form-alert" *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
              * {{ loginForm.get('password').errors | formaError: '' }}
            </span>
          </div>
        </div>
  
        <button type="submit" class="btn btn-submit btn-primary mb-2 btn-caffenio-rojo">Iniciar sesión</button>
  
      </form>
    </ng-container>
    <!-- Forma Recuperar Pass -->
    <ng-container *ngIf="formaMostrar === 2">

      <p style="font-size: 0.9em;color: #777;">
        Puedes recuperar tu contraseña con el coreo electrónico asociado a tú cuenta. Las instrucciones serán enviadas a tu correo.
        <br> Cualquier otro problema con el proceso comunícate con nosotros y con gusto te ayudaremos.
      </p>

      <form [formGroup]="recuperarForm" (ngSubmit)="recuperar(recuperarForm.value)">
        
        <div class="form-row">
          <div class="form-group col-md-12">
            <label class="sr-only" for="">Correo electrónico</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-user-circle"></i></div>
              </div>
              <input formControlName="email" type="text" class="form-control" placeholder="Correo electrónico">
              <br>
            </div>
            <span class="form-alert" *ngIf="!recuperarForm.get('email').valid && recuperarForm.get('email').touched">
              * {{ recuperarForm.get('email').errors | formaError: 'email' }}
            </span>
          </div>
        </div>

        <!-- <div class="form-row">
          <div class="form-group col-md-12">
            <label class="sr-only" for="">RFC</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-address-card"></i></div>
              </div>
              <input formControlName="rfc" type="text" class="form-control" placeholder="RFC">
              <br>
            </div>
            <span class="form-alert" *ngIf="!recuperarForm.get('rfc').valid && recuperarForm.get('rfc').touched">
              * {{ recuperarForm.get('rfc').errors | formaError: 'rfc' }}
            </span>
          </div>
        </div> -->

        <button type="submit" class="btn btn-submit btn-primary mb-2 btn-caffenio-rojo">Recuperar contraseña</button>
      </form>
      
    </ng-container>

    <p class="p-social">Otras opciones</p>
    <hr class="hr-social">
    <div class="help-links">
      <a *ngIf="formaMostrar === 1" class="link-caffenio" (click)="formaMostrar = 2">Recuperar contraseña</a>
      <a *ngIf="formaMostrar === 2" class="link-caffenio" (click)="formaMostrar = 1">Iniciar sesión</a>
      <a [routerLink]="['/registro']">Registrarme</a>
    </div>

  </div>
</div>