<div class="container">
  <div class="row" style="margin-bottom:25px;">
    <div class="col-12 col-md-12">
      <h2 style="font-weight: bold;">Asignar correos de notificación</h2>
      <p>
        Administración de notificaciones mediante correo electrónico. Los correos registrados dentro de cada compañia recibirán una notificación por correo cuando un complemento sea añadido en dicha empresa.
      </p>
    </div>
  </div>

  <!-- Forma filtro -->
  <div class="row" style="margin-bottom:25px;">
    <div class="col-12 col-md-12">

      <!-- Forma -->
      <form [formGroup]="filtroForm" (ngSubmit)="submit(filtroForm.value)">
      
        <!-- Info general de usuario -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Seleccionar compañia</label>
            <select formControlName="company" class="form-control" (change)="companyOnChange($event.target.value)">
              <option value="" selected disabled hidden>Compañia</option>
              <option *ngFor="let comp of companies" value="{{ comp.CompanyId }}">{{ comp.CompanyName }}</option>
            </select>
            <span class="form-alert" *ngIf="!filtroForm.get('company').valid && filtroForm.get('company').touched">
              * {{ filtroForm.get('company').errors | formaError: '' }}
            </span>
          </div>
          <div class="form-group col-md-6">
            <label for="">Correo electrónico</label>
            <input formControlName="email" type="email" class="form-control" placeholder="correo@ejemplo.com">
            <span class="form-alert" *ngIf="!filtroForm.get('email').valid && filtroForm.get('email').touched">
              * {{ filtroForm.get('email').errors | formaError: 'email' }}
            </span>
          </div>
        </div>

        <!-- Boton submit que debería cambiar al editar -->
        <button type="submit" class="btn btn-primary btn-submit btn-caffenio-verde">
          Agregar
        </button>

      </form>

    </div>
  </div>
  
  <!-- Tabla -->
  <div class="row">
    <div class="col-12 col-md-12">

      <caffenio-datatable [titulo]="'Tabla'" [columnas]="columnas" [datos]="datos" [config]="configDataTable" (btnClickEvent)="dataTableBtnEvent($event)"></caffenio-datatable>

      <!-- Boton submit que debería cambiar al editar -->
      <!-- <button type="submit" class="btn btn-primary btn-submit btn-caffenio-verde" style="margin-top: 15px;">
        Guardar cambios
      </button> -->

    </div>
  </div>

</div>