<div class="container">
  <div class="row" style="margin-bottom:25px;">
    <div class="col-12 col-md-12">
      <h2 style="font-weight: bold;">Invitaciones de registro</h2>
      <p>
        Busqueda de proveedores por RFC entre las compañias Caffenio para el envío de invitacion al sistema de complementos.
      </p>
    </div>
  </div>

  <!-- Forma filtro -->
  <div class="row" style="margin-bottom:25px;">
    <div class="col-12 col-md-12">

      <!-- Forma -->
      <form [formGroup]="filtroForm" (ngSubmit)="submit(filtroForm.value)">
      
        <!-- Info general de usuario -->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">RFC</label>
            <input formControlName="rfc" type="text" class="form-control" placeholder="RFC">
            <span class="form-alert" *ngIf="!filtroForm.get('rfc').valid && filtroForm.get('rfc').touched">
              * {{ filtroForm.get('rfc').errors | formaError: 'rfc' }}
            </span>
          </div>
          <div class="form-group col-md-6">
            <label for="">Compañia</label>
            <select formControlName="company" class="form-control" #selectedCompany>
              <option value="" selected disabled hidden>Selecciona una compañia</option>
              <option *ngFor="let comp of companies" value="{{comp.CompanyId}}">{{ comp.CompanyName }}</option>
            </select>
            <span class="form-alert" *ngIf="!filtroForm.get('company').valid && filtroForm.get('company').touched">
              * {{ filtroForm.get('company').errors | formaError: '' }}
            </span>
          </div>
        </div>
  
        <!-- Boton submit que debería cambiar al editar -->
        <button type="submit" class="btn btn-primary btn-submit btn-caffenio-verde">
          Buscar proveedores
        </button>
  
      </form>

    </div>
  </div>

  <!-- Tabla -->
  <div class="row">
    <div class="col-12 col-md-12">

      <caffenio-datatable [titulo]="'Tabla'" [columnas]="columnas" [datos]="datos" [config]="configDataTable" (btnClickEvent)="dataTableBtnEvent($event)"></caffenio-datatable>

      <!-- Boton submit que debería cambiar al editar -->
      <button type="button" class="btn btn-primary btn-caffenio-verde" style="margin-top: 15px;" [attr.disabled]="correosSeleccionados()" (click)="send_mail(selectedCompany.value)">
        Envíar invitaciones
      </button>

    </div>
  </div>

</div>