.dashboard-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff;
    background-image: url("./../../assets/background-patterns/absurdity.png");
}

.right {
    overflow-y: auto;
    width: 100%;
}

.right .content .router {
    padding: 25px 15px;
}

/** Movil */
@media (max-width: 768px) {
    
    .dashboard-container {
        position: relative;
    }

    .left {
        position: absolute;
        z-index: 10;
    }

    .right {
        width: 100%;
        padding-left: 20px;
    }

}