<div class="dashboard-container">
    <div class="left">
        <!-- Sidebar -->
        <caffenio-sidebar></caffenio-sidebar>
    </div>
    <div class="right">
        <div class="content">
            <caffenio-navbar></caffenio-navbar>
            <!-- Contenido según la ruta -->
            <div class="router">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>