.container-fluid {
    background-image: url("./../../../assets/background-patterns/absurdity.png");
}

h1 {
    font-weight: bold;
    font-size: 6em;
    color: #e83c00;
}

h2 {
    font-weight: bold;
}

.btn {
    cursor: pointer;
}