<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-12 col-md-6">

            <h1 class="text-center">403</h1>
            <h2 class="text-center">Acceso Prohibido.</h2>

            <p class="text-justify">
                El usuario con el que ha iniciado sesión no tiene acceso al área que ha tratado de acceder. Le recomendamos que retorne a la pantalla anterior, se diriga hacia el dashboard general o cierre sesión e inicie con un usuario con la autorización adecuada.
            </p>

            <div class="row">
                <div class="col">
                    <a [routerLink]="['/dashboard']" class="btn btn-outline-dark">
                        <i class="fas fa-desktop"></i> Ir al Dashboard
                    </a>
                    <button type="button" class="btn btn-outline-dark" (click)="cerrarsesion()">
                        <i class="fas fa-sign-out-alt"></i> Cerrar sesión
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>