<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-12">
      
      <h2>Registro de proveedor</h2>

      <!-- Formulario -->
      <div class="row">
        <div class="col">
      
          <!-- Forma -->
          <form [formGroup]="registroForm" (ngSubmit)="submit(registroForm.value)">
      
            <!-- Info general de usuario -->
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="">RFC</label>
                <input formControlName="rfc" type="text" class="form-control" placeholder="RFC">
                <span class="form-alert" *ngIf="!registroForm.get('rfc').valid && registroForm.get('rfc').touched">
                  * {{ registroForm.get('rfc').errors | formaError: 'rfc' }}
                </span>
              </div>
              <div class="form-group col-md-4">
                <label for="">Correo electrónico</label>
                <input formControlName="email" type="email" class="form-control" placeholder="correo@ejemplo.com">
                <span class="form-alert" *ngIf="!registroForm.get('email').valid && registroForm.get('email').touched">
                  * {{ registroForm.get('email').errors | formaError: 'email' }}
                </span>
              </div>
              <div class="form-group col-md-4">
                <label for="">Compañia</label>
                <select formControlName="company" class="form-control" #selectedCompany>
                  <option value="" selected disabled hidden>Selecciona una compañia</option>
                  <option *ngFor="let comp of companies" value="{{comp.CompanyId}}">{{ comp.CompanyName }}</option>
                </select>
                <span class="form-alert" *ngIf="!registroForm.get('company').valid && registroForm.get('company').touched">
                  * {{ registroForm.get('company').errors | formaError: 'company' }}
                </span>                
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="">Contraseña</label>
                <input formControlName="password" type="password" class="form-control" placeholder="Contraseña">
                <span class="form-alert" *ngIf="!registroForm.get('password').valid && registroForm.get('password').touched">
                  * {{ registroForm.get('password').errors | formaError: 'password' }}
                </span>
              </div>
              <div class="form-group col-md-6">
                <label for="">Confirmar contraseña</label>
                <input formControlName="password2" type="password" class="form-control" placeholder="Contraseña">
                <span class="form-alert" *ngIf="!registroForm.get('password2').valid && registroForm.get('password2').touched">
                  * {{ registroForm.get('password2').errors | formaError: 'password' }}
                </span>
              </div>
            </div>
      
            <!-- Boton submit que debería cambiar al editar -->
            <button type="submit" class="btn btn-primary btn-submit btn-caffenio-verde">
              Registrar
            </button>
      
          </form>
      
        </div>
      </div>

    </div>
  </div>
</div>
