.navbar {
    width: 100%;
    height: 60px;
}

.navbar-brand {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 0px;
}

.navbar-brand img {
    height: inherit;
    width: auto;
    margin-right: 10px;
}

.collapse.show {
    margin-left: -1rem;
    margin-right: -1rem;
    margin-top: 10px;
    background-color: rgb(248, 249, 250) !important;
}

.collapse.show .navbar-nav {
    padding: 10px 20px;
}