<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/logo_caffenio.png" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [collapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/nodashboard/login']">
          <i class="fas fa-user"></i> {{ user?.providerName }}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href (click)="cerrarsesion()">Cerrar sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://caffenio.com/">Caffenio</a>
      </li>
    </ul>
  </div>
</nav>