/* You can add global styles to this file, and also import other style files */

/*****************************/
/** Colores */
/*  rgb(130, 188, 0) #82bc00 - Verde Pantone 376 U 
/*  rgb(244, 36, 52) #f42434 - Rojo Pantone 1788 U
/*  rgb(151, 95, 53) #975f35 - Cafe Pantone 4635 U
/*  rgb(255, 181, 1) #ffb501 - Amarillo Pantone 116 U
/*****************************/

/*****************************/
/** Fonts */
/*****************************/
@font-face { font-family: "Brandon-Grotesque"; src: url("./assets/fonts/BrandonGrotesque/Brandon_Grotesque_Regular.ttf"); }
@font-face { font-family: "Brandon-Grotesque"; font-weight: bold; src: url("./assets/fonts/BrandonGrotesque/Brandon_Grotesque_Bold.ttf"); }

/*****************************/
/** General */
/*****************************/

body {
    font-family: 'Brandon-Grotesque';
}

.fullheight-row {
    height: 100%;
}

.form-alert {
    font-size: 0.9em;
    color: #dd1c1a;
}

.holyGrail {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.holyGrail-body {
    display: flex;
    flex: 1;
}

.link-caffenio {
    color: #e83c00 !important;
    cursor: pointer;
}

.link-caffenio:hover {
    text-decoration: underline !important;
}

/*****************************/
/** Botones Caffenio */
/*****************************/

.btn-caffenio-verde {
    background-color: rgb(130, 188, 0) !important;
    border-color: rgb(130, 188, 0) !important;
    color: #fff;
    cursor: pointer;
}

.btn-caffenio-verde:hover,
.btn-caffenio-verde:active,
.btn-caffenio-verde:focus {
    background-color: rgb(130, 188, 0) !important;
    border-color: rgb(130, 188, 0) !important;
}

.btn-caffenio-verde:active,
.btn-caffenio-verde:focus {
    background-color: rgb(130, 188, 0) !important;
    box-shadow: 0 0 0 0.2rem rgba(130, 188, 0, 0.5) !important;
}

.btn-caffenio-rojo {
    background-color: rgb(244, 36, 52) !important;
    border-color: rgb(244, 36, 52) !important;
    color: #fff;
    cursor: pointer;
}

.btn-caffenio-rojo:hover,
.btn-caffenio-rojo:active,
.btn-caffenio-rojo:focus {
    background-color: rgb(244, 36, 52) !important;
    border-color: rgb(244, 36, 52) !important;
}

.btn-caffenio-rojo:active,
.btn-caffenio-rojo:focus {
    background-color: rgb(244, 36, 52) !important;
    box-shadow: 0 0 0 0.2rem rgba(244, 36, 52, 0.5) !important;
}

.btn-caffenio-cafe {
    background-color: rgb(151, 95, 53) !important;
    border-color: rgb(151, 95, 53) !important;
    color: #fff;
    cursor: pointer;
}

.btn-caffenio-cafe:hover,
.btn-caffenio-cafe:active,
.btn-caffenio-cafe:focus {
    background-color: rgb(151, 95, 53) !important;
    border-color: rgb(151, 95, 53) !important;
}

.btn-caffenio-cafe:active,
.btn-caffenio-cafe:focus {
    background-color: rgb(151, 95, 53) !important;
    box-shadow: 0 0 0 0.2rem rgba(151, 95, 53, 0.5) !important;
}

.btn-caffenio-amarillo {
    background-color: rgb(255, 181, 1) !important;
    border-color: rgb(255, 181, 1) !important;
    color: #fff;
    cursor: pointer;
}

.btn-caffenio-amarillo:hover,
.btn-caffenio-amarillo:active,
.btn-caffenio-amarillo:focus {
    background-color: rgb(255, 181, 1) !important;
    border-color: rgb(255, 181, 1) !important;
}

.btn-caffenio-amarillo:active,
.btn-caffenio-amarillo:focus {
    background-color: rgb(255, 181, 1) !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 181, 1, 0.5) !important;
}

.btn-caffenio-verde:disabled,
.btn-caffenio-rojo:disabled,
.btn-caffenio-cafe:disabled,
.btn-caffenio-amarillo:disabled {
    cursor: auto;
}