<div class="container">
  <div class="row justify-content-center">

    <div class="col-12 col-md-12">

      <h2>Restablecer contraseña</h2>

      <!-- Forma -->
      <form [formGroup]="restaurarForm" (ngSubmit)="submit(restaurarForm.value)">

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Nueva contraseña</label>
            <input formControlName="new_password1" type="password" class="form-control" placeholder="Nueva contraseña">
            <span class="form-alert" *ngIf="!restaurarForm.get('new_password1').valid && restaurarForm.get('new_password1').touched">
              * {{ restaurarForm.get('new_password1').errors | formaError: 'password' }}
            </span>
          </div>
          <div class="form-group col-md-6">
            <label for="">Confirmar nueva contraseña</label>
            <input formControlName="new_password2" type="password" class="form-control" placeholder="Nueva contraseña">
            <span class="form-alert" *ngIf="!restaurarForm.get('new_password2').valid && restaurarForm.get('new_password2').touched">
              * {{ restaurarForm.get('new_password2').errors | formaError: 'password' }}
            </span>
          </div>
        </div>

        <!-- Boton submit que debería cambiar al editar -->
        <button type="submit" class="btn btn-primary btn-submit btn-caffenio-verde">
          Restablecer contraseña
        </button>

      </form>

    </div>

  </div>
</div>