<nav #sidebar id="sidebar" class="">

  <!-- Sidebar Header -->
  <div class="sidebar-header">
    <!-- <img src="assets/logo_caffenio_white.png" alt="Caffenio"> -->
    <h3>PROVEEDORES</h3>
    <button type="button" class="btn btn-outline-light btn-toggle" (click)="toggle()">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
  </div>
  
    <!-- Sidebar Links -->
  <ul class="sidebar-links">
    <!-- Complementos -->
    <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['/dashboard/complementos']" class="">
        <i class="fas fa-file-alt"></i>
        Complementos de pago
      </a>
    </li>
    <!-- Invitaciones -->
    <li *ngIf="user.user.is_staff" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['/dashboard/invitaciones']" class="">
        <i class="fas fa-user-plus"></i>
        Invitaciones
      </a>
    </li>
    <!-- Notificaciones -->
    <li *ngIf="user.user.is_staff" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
      <a [routerLink]="['/dashboard/notificaciones']" class="">
        <i class="fas fa-envelope"></i>
        Notificaciones
      </a>
    </li>
  </ul>
  
  <!-- <div class="sidebar-footer">
    <p class="texto-escondido">WiiCab - Desarrollado por RO Solutions.</p>
  </div> -->

  <!-- Button toggle para movil -->
  <button type="button" class="btn btn-link btn-toggle-mobile" (click)="toggle()">
    <i class="fas fa-caret-right"></i>
  </button>
  
</nav>