#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    background-color: rgb(244, 36, 52);
    color: #fff;
    display: block;
    /* Transitions */
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidebar-header {
    background-color: rgb(244, 36, 52);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid #fff;
}

.sidebar-header img {
    max-width: 100%;
    max-height: 100%;
}

.sidebar-header h3 {
    margin-bottom: 0px;
    font-size: 1.4em;
    font-weight: bold;
}

.sidebar-header .btn-toggle:hover {
    color: rgb(244, 36, 52);
    cursor: pointer;
}

.sidebar-links {
    list-style: none;
    padding: 20px 0px;
    border-bottom: 1px solid #fff
}

.sidebar-links li {
    cursor: pointer;
}

.sidebar-links li.active {
    background: #fff;
    color: rgb(244, 36, 52);
}

.sidebar-links li.active a {
    color: rgb(244, 36, 52);
}

.sidebar-links a {
    display: block;
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    /* Transitions */
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.sidebar-links a:hover {
    color: #e83c00;
    background: #fff;
}

.sidebar-links a .svg-inline--fa {
    margin-right: 5px;
    width: 25px;
}

.sidebar-footer .texto-escondido {
    padding: 0px 25px;
    text-align: center;
    font-size: 0.8em;
    color: #2a2b2b;
}

.sidebar-links .sidebar-dropdown {
    display: none;
    padding-left: 0;
    list-style: none;
    background-color: #2a2b2b;
}

.sidebar-links .sidebar-dropdown.display {
    display: block;
}

.sidebar-links .sidebar-dropdown li {
    padding: 0px;
}

.sidebar-links .sidebar-dropdown li a {
    padding: 5px 10px 5px 20px;
    font-size: 0.9em;
}

.btn-toggle-mobile {
    display: none;
}

/***********************************/
/* Collapsed */

#sidebar.collapsed {
    max-width: 80px;
    min-width: 80px;
}

#sidebar.collapsed .sidebar-header {
    align-items: center;
    justify-content: center;
}

#sidebar.collapsed .sidebar-header h3 {
    display: none;
}

#sidebar.collapsed .sidebar-links a {
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
}

#sidebar.collapsed .sidebar-links a .svg-inline--fa {
    margin: 0;
    width: 100%;
    font-size: 1.5em;
}

#sidebar.collapsed .sidebar-footer .texto-escondido {
    display: none;
}

/***********************************/
/* Movil */

@media (max-width: 768px) {

    #sidebar.collapsed {
        max-width: 20px;
        min-width: 20px;
    }

    #sidebar.collapsed .sidebar-header {
        display: none;
    }

    #sidebar.collapsed .sidebar-links {
        display: none;
    }

    #sidebar.collapsed .btn-toggle-mobile {
        display: block;
        padding: 0px;
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: 1.5em;
        cursor: pointer;
    }

}