<div class="card">
    <!-- <div class="card-header">
        {{ titulo }}
    </div> -->

    <div class="card-body">

        <ul class="nav nav-tabs nav-tabs-datatable">
            <li *ngFor="let tab of tabs" class="nav-item">
                <a [ngClass]="{active: tab['active']}" class="nav-link" id="{{ tab['tab-id'] }}" (click)="onTabChange($event)">{{ tab['tab-title'] }}</a>
            </li>
        </ul>

        <!-- Controles -->
        <form id="tabla-controles" class="form-inline">
            <div class="form-control-wrapper">
                <label class="mr-sm-2" for="">Número de registros</label>
                <select class="form-control form-control-sm mb-2 mr-sm-2 mb-sm-0" name="controlCantidad" [(ngModel)]="controlCantidad" (change)="generarPaginacion(1)">
                    <option value="10" selected>10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <!-- <button type="button" class="btn btn-light btn-sm btn-actualizarTabla" (click)="datosTablaReset()">
                <i class="fas fa-sync"></i>
                Actualizar
            </button> -->

            <!-- Buscador -->
            <div id="buscador" class="input-group input-group-sm">
                <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-search"></i></div>
                </div>
                <input type="text" class="form-control form-control-sm" placeholder="Buscar" name="filtro" [(ngModel)]="filtro" (ngModelChange)="filtroChange($event)">
            </div>

        </form>

        <!-- Tabla -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th *ngFor="let columna of columnas">{{ columna }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dato of datosTabla; let i = index;">
                    <ng-container *ngFor="let key of Object.keys(dato)">
                        
                        <td *ngIf="dato[key].html; else elseBlock" [innerHtml]="dato[key].html" [ngStyle]="dato[key].style"></td>
                        <ng-template #elseBlock>
                            <td [ngStyle]="dato[key].style">{{ dato[key].value }}</td>
                        </ng-template>

                    </ng-container>
                </tr>
                <!-- Si no hay datos -->
                <ng-container *ngIf="datosTabla">
                    <tr *ngIf="datosTabla.length < 1"><td colspan="100%" style="text-align:center;">No existen registros.</td></tr>
                </ng-container>
                <!-- Mientras aun no hay datos -->
                <tr *ngIf="!datosTabla"><td colspan="100%" style="text-align:center;">Esperando datos...</td></tr>
            </tbody>
        </table>

        <!-- Paginación -->
        <div *ngIf="datos" class="paginacion">
            <p>
                Mostrando registros del {{ ((this.paginaActiva - 1) * this.controlCantidad) + 1 }} 
                al {{ ((controlCantidad * paginaActiva) < datos.length) ? (controlCantidad * paginaActiva) : datos.length }} 
                de un total de {{ datos.length }} registros
            </p>
            <nav>
                <ul class="pagination pagination-sm">
                    <li class="page-item" [class.disabled]="paginaActiva == 1">
                        <a class="page-link" (click)="cambiarPaginaActiva(paginaActiva - 1)">Anterior</a>
                    </li>
                    <li *ngFor="let pagina of paginas" [class.active]="paginaActiva == pagina" class="page-item">
                        <a class="page-link" (click)="cambiarPaginaActiva(pagina)">{{ pagina }}</a>
                    </li>
                    <li class="page-item" [class.disabled]="paginaActiva == paginas[paginas.length-1]">
                        <a class="page-link" (click)="cambiarPaginaActiva(paginaActiva + 1)">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>
