.drag-zone {
    border: 2px dashed #ccc;
    border-radius: 2px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    margin-bottom: 15px;
}

.drag-zone .svg-inline--fa {
    margin-right: 10px;
}

#fileInput {
    display: none;
}

.table {
    table-layout: fixed;
}

.table thead th:first-child {
    width: 70%;
}

.table tbody td {
    vertical-align: middle;
}

.progress-bar {
    background-color: rgb(130, 188, 0);
}

.botones .btn:first-child {
    width: 25%;
}

.filtro label {
    font-size: 1.5em;
    line-height: 1.2;
}

label.btn-caffenio-verde.disabled {
    cursor: default;
}

#progress-bar {
    background-color: #82bc00 !important;
}

@media (max-width: 768px) {

    .table thead th:first-child {
        width: 75%;
    }

    .table .cel-no {
        display: none;
    }

    .botones .btn:first-child {
        width: 100%;
        margin-bottom: 10px;
    }

    .botones .btn {
        width: 49%;
    }

}