<div class="container">
  <div class="row" style="margin-bottom:25px;">
    <div class="col-12 col-md-12">
      <h2 style="font-weight: bold;">Validación de complementos de pago</h2>
      <p>
        Selecciona los complementos de pago que desees validar (Par de documentos; un documento XML y un PDF).
        Si desea cargar mas de un complemento de pago, el par de documentos (XML y PDF) deben llevar el mismo nombre (con excepción de la extensión).
        Estos documentos serán validados con el SAT y guardados en nuestro sistema como referencia.
      </p>
    </div>
  </div>

  <!-- Seleccion de complementos / archivos -->
  <div *ngIf="!CFDIs" class="row">

    <!-- Select files -->
    <div class="col-12 col-md-4">
      <!-- Filtro -->
      <div [formGroup]="validacionForm" class="form-group filtro">
        <label for="">Compañia</label>
        <select formControlName="CompanyId" class="form-control form-control-sm">
          <option value="" selected disabled hidden>Selecciona una compañia</option>
          <option *ngFor="let comp of companies" value="{{ comp.CompanyId }}">{{ comp.CompanyName }}</option>
        </select>
        <span class="form-alert" *ngIf="!validacionForm.get('CompanyId').valid && validacionForm.get('CompanyId').touched">
          * {{ validacionForm.get('CompanyId').errors | formaError: '' }}
        </span>
      </div>

      <h4>Seleccione archivos</h4>
      <!-- dropzone -->
      <div ng2FileDrop
        [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
        (fileOver)="fileOverBase($event)"
        [uploader]="uploader"
        class="drag-zone">
        <i class="fas fa-upload"></i> Arratra tus archivos
      </div>
      <!-- boton -->
      <div class="form-row">
        <div class="form-group col-md-12">
          <label class="btn btn-primary btn-sm btn-caffenio-verde" for="fileInput">
            <i class="fas fa-upload"></i> Seleccionar archivos
          </label>
          <input id="fileInput" type="file" class="form-control-file" accept="application/pdf,text/xml"
          ng2FileSelect [uploader]="uploader" multiple>
        </div>
      </div>
    </div>

    <!-- Upload queue -->
    <div class="col-12 col-md-8">
      <h4>Archivos en cola</h4>
      <p style="font-size: 0.8em; color: #777;">Número de archivos por cargar: {{ uploader?.queue?.length }}</p>
      <!-- Tabla -->
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Archivo</th>
            <th>Tamaño</th>
            <th class="cel-no">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td style="white-space: nowrap; overflow: hidden;">{{ item?.file?.name }}</td>
            <td style="font-size: 0.8em;" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            <td class="text-center cel-no">
              <span><i class="fas fa-check"></i></span>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- extra -->
      <div class="">
        <!-- <div style="margin-bottom:15px;">
          Progreso:
          <div class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div> -->
        <div class="botones">
          <button type="button" class="btn btn-primary btn-sm btn-caffenio-verde"
            (click)="comenzarValidacion()" [disabled]="!uploader.getNotUploadedItems().length || !validacionForm.valid || !comprobarPares()">
            <i class="fas fa-check"></i> Validar documentos
          </button>
          <!-- <button type="button" class="btn btn-primary btn-sm btn-caffenio-amarillo"
            (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
            <i class="fas fa-ban"></i> Cancelar
          </button> -->
          <button type="button" class="btn btn-primary btn-sm btn-caffenio-rojo"
            (click)="uploader.clearQueue(); limpiarForma()" [disabled]="!uploader.queue.length">
            <i class="fas fa-trash-alt"></i> Remover
          </button>
        </div>
      </div>
      <!-- advertencia -->
      <p *ngIf="!comprobarPares()" style="font-size: 0.9em;color: #f42434;margin-top: 5px;">
        * Hacen falta documentos para completar los pares de complementos.
      </p>
    </div>

  </div>

  <!-- Ligar / confirmación facturas -->
  <div *ngIf="CFDIs" class="row">
    <div class="col-12 col-md-12">
      
      <!-- Tabla -->
      <caffenio-datatable [titulo]="'Tabla'" [columnas]="columnas" [datos]="datos" [config]="configDataTable"></caffenio-datatable>

      <div style="margin-top: 20px;">
        <button type="button" class="btn btn-primary btn-caffenio-verde" (click)="subirComplementos()">
          <i class="fas fa-upload"></i> Envíar complementos
        </button>
        <button type="button" class="btn btn-primary btn-caffenio-rojo" (click)="limpiarTodo()">
          <i class="fas fa-ban"></i> Cancelar
        </button>
      </div>

    </div>
  </div>

</div>